

.lunar  #content{ font: 12px/1.5 tahoma,"微软雅黑",arial,sans-serif }
.lunar #header, .lunar #content, .lunar #footer { margin-left: auto; margin-right: auto; }
/* content */
.lunar #content{width:560px;margin:15px;}


.lunar .col-main { float: left; width: 100%; min-height: 1px; }
.lunar .col-sub, .col-extra { float: left }
.lunar .layout:after, .main-wrap:after, .col-sub:after, .col-extra:after { content: '\20'; display: block; height: 0; clear: both; }
.lunar .layout, .main-wrap, .col-sub, .col-extra { *zoom: 1 }
.lunar .ks-hidden { display: none }
.lunar .ks-invisible { visibility: hidden }
.lunar .ks-clear:after { content: '\20'; display: block; height: 0; clear: both; }
.lunar .ks-clear { *zoom: 1 }
.lunar .ks-inline-block { display: inline-block; *display: inline; }

/* icon */
.lunar .lunar-box {
	background:url(images/sx.png) no-repeat;
}

.lunar .field-botton .arrow{
	background:url(images/date_nav.png) no-repeat;
}

/* 表单元素 */
.lunar .field-input{border:1px solid;border-color: silver #D9D9D9 #D9D9D9;height:14px;line-height:14px;width:100%;padding:2px;}
.lunar .field-textarea{border:1px solid;border-color: silver #D9D9D9 #D9D9D9;height:200px;width:100%;padding:2px;resize:none;}
.lunar .field-botton{border:1px solid #DDDDDD;border-radius:2px;background-color:#f5f5f5;color:#444;cursor:pointer;float:left;font-weight:bold;height:25px;line-height:25px;padding:0 8px;vertical-align:middle;}
.lunar .field-botton:hover{border:1px solid #c6c6c6;background-color:#f8f8f8;box-shadow:0px 1px 1px #DDDDDD;}
.lunar .field-botton .arrow{height:15px;width:9px;display:block;margin-top:5px;}


.lunar .wnl-wrap {background:#fff;float:left;margin-right:10px;}
.lunar .wnl-wrap .hd {position:relative;}
.lunar .wnl-wrap .hd .lunar-box{width:256px;float:left;padding-left:96px;height:62px;padding-top:23px;font-size:20px;color:#ff6600;font-weight:bold;}
.lunar .wnl-wrap .hd .lunar-box #sm {font-size:24px;display:inline-block;vertical-align:baseline;}
.lunar .wnl-wrap .hd .date-nav {width:191px;float:right;margin-top:29px;}

.lunar .wnl-wrap .hd .date-nav .pre-year .arrow{background-position:0 0;width:14px;}
.lunar .wnl-wrap .hd .date-nav .next-year .arrow{background-position:0 -15px;width:14px;}
.lunar .wnl-wrap .hd .date-nav .pre-month .arrow{background-position:0 -30px;}
.lunar .wnl-wrap .hd .date-nav .next-month .arrow{background-position:0 -45px;}
.lunar .wnl-wrap .hd .date-nav .pre-year{border-radius:2px 0 0 2px;}
.lunar .wnl-wrap .hd .date-nav .next-year{border-radius:0 2px 2px 0;margin-left:-5px;margin-right:5px;}
.lunar .wnl-wrap .hd .date-nav .pre-month{border-radius:2px 0 0 2px;}
.lunar .wnl-wrap .hd .date-nav .next-month{border-radius:0 2px 2px 0;margin-left:-5px;margin-right:5px;}
.lunar .wnl-wrap .hd .date-nav .cur-day {background-position:-91px 0;}
.lunar .wnl-wrap .bd {width:560px;}
.lunar .wnl-wrap .bd .week .weekend {color:#ff6600;}
.lunar .wnl-wrap .bd .week tr td {width:86px;height:30px;color:#555;font-size:12px;text-align:left;}
.lunar .wnl-wrap .bd .date-box li {width:79px;height:54px;float:left;border:1px solid #DDD;margin:-1px 0 0 -1px;cursor:pointer;}
.lunar .wnl-wrap .bd .date-box li em {font-weight:bold;font-family:Arial;color:#4d4d4d;font-size:20px;padding-left:12px;}
.lunar .wnl-wrap .bd .date-box li p {padding-left:5px;}
.lunar .wnl-wrap .bd .date-box li .inner {height:54px;position:relative;}
.lunar .wnl-wrap .bd .date-box li .note-icon{background-color:#ff6600;height:5px;width:5px;top:2px;right:2px;}
.lunar .wnl-wrap .bd .date-box .mouseover {border:1px solid #ffe186;}
.lunar .wnl-wrap .bd .date-box .mouseover .inner {outline:1px solid #ffe186;background:#fff8e8;}
.lunar .wnl-wrap .bd .date-box .selected .inner {background-color:#fff8e8;outline:1px solid #ffe186;}
.lunar .wnl-wrap .bd .date-box .today .inner {outline:1px solid #ffce39;background:#ffe186;}
.lunar .wnl-wrap .bd .date-box .note .note-icon{position:absolute;}

.lunar .sx0 {background-position:0 0;}
.lunar .sx1 {background-position:0 -105px;}
.lunar .sx2 {background-position:0 -214px;}
.lunar .sx3 {background-position:0 -328px;}
.lunar .sx4 {background-position:0 -448px;}
.lunar .sx5 {background-position:0 -590px;}
.lunar .sx6 {background-position:0 -727px;}
.lunar .sx7 {background-position:0 -879px;}
.lunar .sx8 {background-position:0 -1018px;}
.lunar .sx9 {background-position:0 -1168px;}
.lunar .sx10 {background-position:0 -1314px;}
.lunar .sx11 {background-position:0 -1453px;}

.pop-common {position:absolute;left:20px;top:-9999px;visibility:hidden;}
.pop-common .content {position:relative;border:1px solid #ccc;background:#fff;box-shadow: 0 2px 4px rgba(0,0,0,.2);width:290px;}
.pop-wnl .jieri-info {height:24px;line-height:24px;background:#fffaec;text-align:center;color:#e65b16;border-bottom:1px solid #DDD;}
.pop-wnl .date-infos {margin:0 3px;padding:0;}
.pop-wnl .day {float:left;width:55px;height:48px;line-height:48px;text-align:center;color:#1b7ca6;font-size:30px;font-weight:bold;}
.pop-wnl .guolli {font-weight:bold;display:inline-block;padding-top:5px;}
.pop-wnl .info {line-height:28px;padding:6px;}
.pop-wnl .info dt {float:left;}
.pop-wnl .info dd {margin-left:20px;clear:right;}
.pop-arr-wrap .arr-top-bg {height:0;width:0;overflow:hidden;border-left:6px dashed transparent;border-right:6px dashed transparent;border-top:6px solid #ccc;border-bottom:6px dashed transparent;position:absolute;left:36px;bottom:-12px;}
.pop-arr-wrap .arr-top {height:0;width:0;overflow:hidden;border-left:6px dashed transparent;border-right:6px dashed transparent;border-top:6px solid #fff;border-bottom:6px dashed transparent;position:absolute;left:36px;bottom:-11px;}

.lunar .notes-wrap{float:left;background-color:rgba(243,243,243,.85);border:1px solid #DDD;height:339px;padding:10px;margin-top:29px;width:182px;}
.lunar .notes-wrap .title{font-size:16px;margin-bottom:10px;}
.lunar .notes-wrap td{padding:5px 0;}
.lunar .notes-wrap .note-key{width:36px;vertical-align:top;}


